body {
  background-color: #F5F5F5;
}
#example {
  width: 200px;
  height: 200px;
  background-color:steelblue;
  text-align: center;
}

#text {
  padding: 90px 0;
  font-size: larger;
  font-weight: bold;
  font-family: Gill Sans Extrabold, sans-serif;
}

input[type="text"] {
  width: 40px;
}

input[type="text"].font {
    width: 100%;
  }