#example {
    width: 200px;
    height: 200px;
    background-color: palevioletred;
    text-align: center;
}

#text {
    padding: 90px 0;
    font-size: larger;
    font-weight: bold;
}

input[type="text"] {
    width: 40px;
}